*.pem
*.crt
*.csr
.env
*.config.json
*.csv
*.jpg
*.png
detectron2/detectron_training/src/CoCoSample/images/*.jpg
detectron2/detectron_training/src/TraningDataOutput/*.*
detectron2/detectron_training/src/TraningDataOutput/last_checkpoint
*.ts
*.m3u8
*/snnip.py
*.mp4

.coverage

.pytest_cache